<ion-header>
    <div class="head">
      <ion-buttons slot="start">
        <ion-menu-button>
          <img src="../assets/images/manu.png" alt="" class="manu-icon">
        </ion-menu-button>
      </ion-buttons>
  
      <ion-title class="text-center">Appilication Form</ion-title>
  
      <div class="notification">
        <a><img src="../assets/images/notification-icon.png" alt="">
        <span>2</span>
        </a>
      </div>
    </div>
</ion-header>

<ion-content>
    <div class="row">
        <!-- MultiStep Form -->
        <div class="container-fluid" id="grad1">
            <div class="row justify-content-center mt-0">
                <div class="col-11 text-center p-0">
                    <div class="col-md-12 mx-0">
                        <div id="msform">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="personal"><strong>Personal</strong></li>
                                <li class="active" id="education"><strong>Education</strong></li>
                                <li class="active" id="activity"><strong>Activities</strong></li>
                                <li class="active" id="office"><strong>Office</strong></li>
                                <li id="confirm"><strong>Finish</strong></li>
                            </ul> 
                        
                            <!-- fieldset - Office -->
                            <fieldset>
                                <div class="form-card">
                                    <h5 class="fs-title">Official Information</h5>
                                    <!-- <ion-item class="dropdown frm">
                                        <ion-label class="drop-mnu">Accepted By</ion-label>
                                        <ion-select placeholder="Select One">
                                            <ion-select-option value="s">Xyz</ion-select-option>
                                        </ion-select>
                                    </ion-item> -->

                                    <ion-item class="frm">
                                        <ion-input type="text" class="info-frm" id="accepted_by" placeholder="Accepted By" value="{{admin_name}}" readonly="true"></ion-input>

                                        <span data-toggle="tooltip" data-placement="top" title="Can't update" (click)="tooltipMsg('Cant change!')"><i class="fa fa-question-circle toolp"></i></span>
                                    </ion-item>

                                    <ion-item class="frm">
                                        <ion-input type="text" class="info-frm" id="accept_at" placeholder="At" [(ngModel)]="accept_at"></ion-input>
                                    </ion-item>
                                    
                                    <ion-item class="frm">
                                        <ion-input type="text" class="info-frm" id="confirm_no" placeholder="Booking Confirmation No" [(ngModel)]="confirm_no"></ion-input>
                                    </ion-item>

                                    <div class="dropdown frm select-dropdown">
                                        <!-- <ion-label class="drop-mnu">Center</ion-label> -->
                                        <ion-select id="campus_id" placeholder="Select Center" [(ngModel)]="campus_id">
                                            <ion-select-option *ngFor="let campus of campus_list" value="{{campus.id}}">{{campus.name}}</ion-select-option>
                                        </ion-select>
                                    </div>

                                    <ion-item class="frm">
                                        <ion-datetime id="date" class="info-frm drop-mnu" style="padding-left: 0;" displayFormat="MMM DD, YYYY" [min]="minDate" [max]="maxDate" placeholder="Date" [(ngModel)]="date"></ion-datetime>
                                    </ion-item>

                                    <ion-item class="frm">
                                        <ion-input type="text" class="info-frm" id="roll_no" placeholder="Roll No" [(ngModel)]="roll_no"></ion-input>
                                    </ion-item>

                                    <div class="sign-box">
                                        <button *ngIf="id == null" type="button" size="large" expand="block" class="btn save-btn" (click)="onSubmit()">Save</button>

                                        <button *ngIf="id != null" type="button" size="large" expand="block" class="btn save-btn" (click)="onUpdate()">Update</button>
                                    </div>
                                </div>

                               
                            </fieldset>
                            <div class="btn-col">
                                 <input type="button" name="previous" class="previous action-button prv-btns" value="Previous" (click)="movePrevious()" />

                                <input *ngIf="show_conf_button"  type="button" name="next" class="next action-button nxt-btns" value="Confirm" (click)="confirm()" />
                                <input *ngIf="!show_conf_button"  type="button" name="next" class="next action-button-previous nxt-btns" value="Confirm" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>