.ex-pad{
    padding: 12px 0 0 12px;
  }
  .place-box{
    padding: 0;
    width: 100%;
    list-style-type: none;
  }
  .place-box li{
    width: 97%;
    margin-bottom: 12px;
    margin-right: 3%;
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
    float: left;
    overflow: hidden;
}
.cours-detal{
    display: flex;
    width: 100%;
  }
  .place-box li h4{
    color: #6f6e6e;
    margin-top: 7px;
    font-size: 15px;
    min-height: 20px;
  }
  .place-box li p{
    margin-bottom: 0px;
    color: #838383;
    font-size: 12px;
    text-align: justify;
    white-space: pre-line;
  }

  .place-box li p a{
    font-size: 11px;
    color: #eb1d23;
  }

