<ion-header>
  <div class="head">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../assets/images/manu.png" alt="" class="manu-icon">
      </ion-menu-button>
    </ion-buttons>

    <ion-title class="text-center">Batch Assign</ion-title>

    <app-notification></app-notification>
  </div>
</ion-header>

<ion-content *ngIf="!showloader">
  <div class="container-fluid" id="grad1">
    <div class="frm select-dropdown mar-top-ex">
      <ion-input type="text" [(ngModel)]="batch_name" class="info-frm" placeholder="Batch Name"></ion-input>
    </div>

    <div class="dropdown frm select-dropdown mar-top-ex">
      <ion-select [(ngModel)]="course_id" (ionChange)="filter_student_by_course($event)" placeholder="Select Course">
        <ion-select-option *ngFor="let course of course_list" [value]="course.id">{{course.name}}</ion-select-option>
      </ion-select>
    </div>
    
    <div class="frm select-dropdown mar-top-ex">
      <ion-datetime id="date" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" [min]="minDate" [max]="maxDate" placeholder="Start Date" [(ngModel)]="start_date"></ion-datetime>
    </div>

    <div class="student-col">
      <h5>Select Student</h5>
      <ul class="student-list">
        <li *ngFor="let active_student of active_student_list">
            <p class="chq-inpt">
              <ion-label class="chq-lebl">{{active_student.name}} {{active_student?.find_mark}}</ion-label>
              <!-- <ion-label class="chq-lebl"> <strong>{{active_student.name}}</strong></ion-label> -->
              <ion-checkbox class="checkbox" (ionChange)="changeChkbx(active_student.id)" color="primary" checked="{{active_student?.isChecked}}" [disabled]="active_student?.isDisabled"></ion-checkbox>
            </p>
        </li>
      </ul>
   
    </div>
    <button type="button" (click)="onSubmit()" class="batch-btn">Create Batch</button>
  </div>
</ion-content>