<ion-header>
  <div class="head">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../assets/images/manu.png" alt="" class="manu-icon">
      </ion-menu-button>
    </ion-buttons>

    <ion-title class="text-center">Appilication Form</ion-title>

    <app-notification *ngIf="user_type == 'admin'"></app-notification>
    <div *ngIf="user_type == 'student'" class="notification"></div>
  </div>
</ion-header>

<ion-content>
    <div class="row">
    <!-- MultiStep Form -->
        <div class="container-fluid" id="grad1">
            <div class="row justify-content-center mt-0">
                <div class="col-11 text-center p-0">
                    <div class="col-md-12 mx-0">
                        <div id="msform">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="personal"><strong>Personal</strong></li>
                                <li id="education"><strong>Education</strong></li>
                                <li id="activity"><strong>Activities</strong></li>
                                <li *ngIf="user_type == 'admin'" id="office"><strong>Office</strong></li>
                                <li id="confirm"><strong>Finish</strong></li>
                            </ul> 

                            <!-- fieldset - Personal -->
                            <fieldset>
                                <div class="form-card">
                                    <h5 class="fs-title">Personal Information</h5>
                                    <div class="inpt-box">

                                        <!-- Course Applied For -->
                                        <ion-item class="dropdown frm">
                                            <ion-label class="drop-mnu">Course Applied For</ion-label>
                                            <ion-select id="course_id" [(ngModel)]="course_id">
                                                <ion-select-option *ngFor="let course of course_list" [value]="course.id">{{course.name}}</ion-select-option>
                                            </ion-select>
                                        </ion-item>

                                        <!-- Name -->
                                        <ion-item class="frm">
                                            <ion-input type="text" class="info-frm" id="name" placeholder="Name" [(ngModel)]="name"></ion-input>
                                            
                                            <span data-toggle="tooltip" data-placement="top" title="Tooltip on top"><i class="fa fa-question-circle toolp"></i></span>
                                        </ion-item>

                                        <!-- Parents/Guardian Name -->
                                        <ion-item class="frm">
                                            <ion-input type="text" class="info-frm" id="guardian_name" [(ngModel)]="guardian_name" placeholder="Parents/Guardian Name"></ion-input>
                                        </ion-item>

                                        <!-- Mobile No -->
                                        <ion-item class="frm">
                                            <ion-input type="text" class="info-frm" id="mobile" placeholder="Mobile No" [(ngModel)]="mobile"></ion-input>
                                        </ion-item>

                                        <!-- Parents/Guardian Mobile No -->
                                        <ion-item class="frm">
                                            <ion-input type="text" class="info-frm" id="guardian_mobile" placeholder="Parents/Guardian Mobile No" [(ngModel)]="guardian_mobile"></ion-input>
                                        </ion-item>

                                        <!-- Date of Birth -->
                                        <ion-item class="frm">
                                            <!-- <ion-input type="date" class="info-frm drop-mnu" id="Name" placeholder="Date of Birth"></ion-input> -->
                                            <ion-datetime id="dob" class="info-frm" displayFormat="MMM DD, YYYY" placeholder="Date of Birth" [(ngModel)]="dob"></ion-datetime>
                                        </ion-item>

                                        <!-- Present Address -->
                                        <ion-item>
                                            <ion-textarea rows="3" id="present_addr" placeholder="Present Address" [(ngModel)]="present_addr"></ion-textarea>
                                        </ion-item>

                                        <!-- Same address check box -->
                                        <p class="chq-inpt">
                                            <ion-checkbox (click)="checkAddress()" color="primary"></ion-checkbox> &nbsp;
                                            <ion-label class="chq-lebl">Same Address?</ion-label>
                                        </p>

                                        <!-- Permanent Address -->
                                        <ion-item>
                                            <ion-textarea rows="3" id="permanent_addr" placeholder="Permanent Address" [(ngModel)]="permanent_addr"></ion-textarea>
                                        </ion-item>

                                        <!-- Telephone (Optional) -->
                                        <ion-item class="frm">
                                            <ion-input type="text" class="info-frm" id="telephone" placeholder="Telephone (Optional)" [(ngModel)]="telephone"></ion-input>
                                        </ion-item>

                                        <!-- State -->
                                        <ion-item class="frm">
                                            <ion-input type="text" class="info-frm" id="state" placeholder="State" [(ngModel)]="state"></ion-input>
                                        </ion-item>

                                        <!-- Primary Email -->
                                        <ion-item class="frm">
                                            <ion-input type="text" class="info-frm" id="email1" placeholder="Primary Email" [(ngModel)]="email1"></ion-input>
                                        </ion-item>

                                        <!-- Secondary Email (Optional) -->
                                        <ion-item class="frm">
                                            <ion-input type="text" class="info-frm" id="email2" placeholder="Secondary Email (Optional)" [(ngModel)]="email2"></ion-input>
                                        </ion-item>

                                        <!-- Known Us From -->
                                        <ion-item class="dropdown frm">
                                            <ion-label class="drop-mnu">Known Us From</ion-label>
                                            <ion-select id="known_from" [(ngModel)]="known_from">
                                                <ion-select-option value="newspaper">Newspaper</ion-select-option>
                                                <ion-select-option value="leftlet">Hoarding / Leaflet</ion-select-option>
                                                <ion-select-option value="television">Television</ion-select-option>
                                                <ion-select-option value="internet">Internet</ion-select-option>
                                                <ion-select-option value="other">Others</ion-select-option>
                                            </ion-select>
                                        </ion-item>

                                        <!-- Save Button -->
                                        <div class="sign-box">
                                            <button  *ngIf="student_id == null"type="button"size="large" expand="block" class="btn save-btn" (click)="onSubmit()">Save</button>

                                            <button *ngIf="student_id != null" type="button"size="large" expand="block" class="btn save-btn" (click)="onUpdate()">Update</button>
                                        </div>
                                    </div> 
                                </div>

                                <input *ngIf="show_next_button" type="button" name="next" class="next action-button nxt-btns fst-btn" value="Next Step" (click)="moveNext()" />

                                <input *ngIf="!show_next_button" type="button" name="next" class="next action-button-previous nxt-btns fst-btn" value="Next Step" />
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>