<ion-header>
  <div class="head">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../assets/images/manu.png" alt="" class="manu-icon">
      </ion-menu-button>
    </ion-buttons>

    <ion-title class="text-center">Routine</ion-title>

    <app-notification></app-notification>
  </div>
</ion-header>

<ion-content *ngIf="!showloader">
    <div class="container-fluid routine-col" id="grad1">
        <div class="dropdown frm select-dropdown">
            <ion-select (ionChange)="routine_all()" [(ngModel)]="batch_id" placeholder="Select Batch">
                <ion-select-option *ngFor="let batch of batch_list"  [value]="batch.id">{{batch.name}}</ion-select-option>
            </ion-select>

            <!-- <span *ngIf="batch_id != null" data-toggle="tooltip" data-placement="top" title="Can't change!" (click)="tooltipMsg('Cant change')"><i class="fa fa-question-circle toolp"></i></span> -->
        </div>

        <ul class="routine-list">
            <li *ngFor="let day_details of day_details; let i = index">
                <h6>Routine {{i+1}}</h6>

                <p *ngIf="day_details.week_for != null && day_details.alt_routine_day_id == null">This routine will <strong>remove</strong> after {{day_details.week_for}} week. By remove now it will be deleted permanently.</p>
                <p *ngIf="day_details.week_for != null && day_details.alt_routine_day_id != null">This routine will <strong>alter</strong> after {{day_details.week_for}} week. By remove now it will be altered by it's previous routine.</p>

                <div class="routine-field" style="width:100%;">
                    <ion-label>Select Day</ion-label>
                    <div class="dropdown frm select-dropdown">
                        <ion-select [(ngModel)]="day_details.week_day" (ionChange)="checkDayTimeAvl(i, 'wd')" placeholder="Select Day">
                            <ion-select-option *ngFor="let days of week_days" [value]="days.value">{{days.day}}</ion-select-option>
                        </ion-select>
                    </div>
                </div>

                <div class="routine-field">
                    <ion-label>Start Time</ion-label>
                    <div class="select-dropdown">
                        <ion-datetime displayFormat="h:mm a" (ionChange)="checkDayTimeAvl(i, 'st')" [(ngModel)]="day_details.start_time_temp" placeholder="Start Time"></ion-datetime>
                    </div>
                </div>

                <div class="routine-field">
                    <ion-label>Duration</ion-label>
                    <div class="select-dropdown">
                        <ion-datetime displayFormat="h:mm" (ionChange)="checkDayTimeAvl(i, 'du')" [(ngModel)]="day_details.duration_temp" placeholder="Duration"></ion-datetime>
                    </div>
                </div>

                <div class="routine-field" style="width:100%;">
                    <ion-label>Select Teacher</ion-label>
                    <div class="dropdown frm select-dropdown">
                        <ion-select [(ngModel)]="day_details.teacher_id"(ionChange)="checkTeacherAvl(i)" placeholder="Select Teacher">
                            <ion-select-option *ngFor="let teacher of teacher_list" [value]="teacher.id" [disabled]="false">{{teacher.name}}</ion-select-option>
                        </ion-select>
                    </div>
                </div>
                
                <div class="routine-field" style="width: 100%;">
                    <ion-checkbox class="checkbox" (ionChange)="changeChkbx(i)" color="primary" [checked]="day_details.type == 2" [disabled]="day_details.alt_routine_day_id != null"></ion-checkbox>
                    <ion-label class="chq-lebl">Is Temporary?</ion-label>
                </div>

                <div *ngIf="day_details.type == 2" class="routine-field" style="width:100%;">
                    <ion-label>Week For</ion-label>
                    <div class="dropdown frm select-dropdown">
                        <ion-select [(ngModel)]="day_details.week_for" placeholder="Week For">
                            <ion-select-option value="1">1 Week</ion-select-option>
                            <ion-select-option value="2">2 Week</ion-select-option>
                            <ion-select-option value="3">3 Week</ion-select-option>
                            <ion-select-option value="4">4 Week</ion-select-option>
                            <ion-select-option value="5">5 Week</ion-select-option>
                            <ion-select-option value="6">6 Week</ion-select-option>
                            <ion-select-option value="7">7 Week</ion-select-option>
                            <ion-select-option value="8">8 Week</ion-select-option>
                        </ion-select>
                    </div>
                </div>

                <button *ngIf="day_details.id == null" type="button" (click)="onSubmit(i)" class="batch-btn">Insert</button>
                <button *ngIf="day_details.id != null" type="button" (click)="onUpdate(i)" class="batch-btn">Edit</button>

                <button *ngIf="day_details.show_alter_btn" type="button" (click)="onAlter(i)" class="batch-btn">Alter</button>

                <button *ngIf="i == 0" type="button" (click)="tooltipMsg('Minimum one routine need to remain')"  class="batch-btn-sml-disable">Remove</button>
                <button *ngIf="i > 0" type="button" (click)="remove_routine(i)" class="batch-btn">Remove</button>
            </li>
        </ul>

        <button *ngIf="show_add_button" type="button" (click)="add_routine()" class="batch-btn-lrg">Add More</button>
        <button *ngIf="!show_add_button" type="button" class="batch-btn-disable">Add More</button>
    </div>
</ion-content>