<ion-header>
  <div class="head">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../assets/images/manu.png" alt="" class="manu-icon">
      </ion-menu-button>
    </ion-buttons>

    <ion-title class="text-center">Active Batch List</ion-title>

    <app-notification></app-notification>
  </div>
</ion-header>

<ion-content>
  <div padding class="ex-pad" >
    <ion-row justify-content-center class="product-sec">
      <ion-item class="form-group frm" style="margin-bottom:10px;">
        <span><i class="fa fa-search"></i></span>
        <ion-input type="text" class="info-frm" id="search" placeholder="Search By Name" (keyup)="searchList($event)" ></ion-input>
      </ion-item>

      <ul class="place-box">

        <li *ngFor="let batch of batch_list; let i = index">
          <div class="cours-detal">
            <h4>{{batch.name}}</h4>
            <p>Start Date: {{batch.start_date | date: "MMM dd, yyyy"}}</p>

            <p>Course: {{batch.course_name}}</p>
            <input type="button" class="application-btn" (click)="moveBatchEdit(batch.id)" value="Edit Now" />
            <input type="button" class="routin-asg-btn" (click)="moveRoutineAssign(batch.id)" value="Routine Assign" />
          </div>

         
        </li>
        
      </ul>

      <div *ngIf="batch_list.length == 0"><span>{{message}}</span></div>
    </ion-row>
  </div>
</ion-content>