<ion-header>
  <div class="head">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../assets/images/manu.png" alt="" class="manu-icon">
      </ion-menu-button>
    </ion-buttons>

    <ion-title class="text-center">Course</ion-title>

    <div class="notification">
      <a><img src="../assets/images/notification-icon.png" alt="">
      <span>2</span>
      </a>
    </div>
  </div>
</ion-header>

<ion-content>
  <div padding class="ex-pad" >
    <ion-row justify-content-center class="product-sec">
      <ul class="place-box">

        <li *ngFor="let course of course_list; let i = index">
          <div class="cours-detal">
            <img src="{{site_url}}/course_image/{{course.image_name}}" alt="">
            <div class="drec-box">
              <h4>{{course.name}}</h4>
              <p>{{course.short_description}}... &nbsp; <a routerLink="/course-details/{{course.id}}">Read more</a></p>
            </div>
          </div>
          <div class="detal-box">
            <span><i class="fa fa-tags"></i> Fees : ₹ {{course.fees}}</span>
            <span>
              <a (click)="viewSyllabus(site_url+'/course_syllabus/'+course.file_name, course.name)"><i class="fa fa-eye"></i> View Syllabus </a>
            </span>
            <span><i class="fa fa-clock-o"></i> Duration : {{course.duration}} Month</span>
          </div>
        </li>
        
      </ul>

      <div *ngIf="course_list.length == 0"><span>{{message}}</span></div>
    </ion-row>
  </div>
</ion-content>