<ion-header>
 
    <div class="head">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../assets/images/manu.png" alt="" class="manu-icon">
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="text-center">
      Course
    </ion-title>
    <div class="notification">
      <a href="/notifications"><img src="../assets/images/notification-icon.png" alt="">
      <span>2</span>
      </a>
    </div>
  </div>
  
  </ion-header>

  <ion-content>
      <div padding class="ex-pad" >
        <ion-row justify-content-center class="product-sec">
            <ul class="place-box">
                <li>
                  <div class="cours-detal">
                    <img src="../../assets/images/course1.jpg" alt="">
                    <div class="drec-box">
                      <h4>Graphics Web Design & Development</h4>
                      <p>Graphics Web Design & Development (GWDD) Plus is a comprehensive.. &nbsp; <a href="/coursedetails">Read more</a></p>
                    </div>
                  </div>
                  <div class="detal-box">
                      <span><i class="fa fa-tags"></i> Fees : ₹ 90,000</span>
                    <span><a href="#"><i class="fa fa-eye"></i> View Syllabus </a></span>
                      <span><i class="fa fa-clock-o"></i> Drration : 12 Months</span>
                  </div>
                </li>
                
                <li>
                    <div class="cours-detal">
                      <img src="../../assets/images/course2.jpg" alt="">
                      <div class="drec-box">
                        <h4>Print & Publishing</h4>
                        <p>Arena’s Print & Publishing course trains you in design and visualisation.. &nbsp; <a href="/coursedetails">Read more</a></p>
                      </div>
                    </div>
                    <div class="detal-box">
                        <span><i class="fa fa-tags"></i> Fees : ₹ 60,000</span>
                      <span><a href="#"><i class="fa fa-eye"></i> View Syllabus </a></span>
                        <span><i class="fa fa-clock-o"></i> Drration : 8 Months</span>
                    </div>
                  </li>
      
                  <li>
                      <div class="cours-detal">
                        <img src="../../assets/images/course3.jpg" alt="">
                        <div class="drec-box">
                          <h4>Visual Content Development</h4>
                          <p>Arena’s Visual Content Development for Print and Social Media is.. &nbsp; <a href="/coursedetails">Read more</a></p>
                        </div>
                      </div>
                      <div class="detal-box">
                          <span><i class="fa fa-tags"></i> Fees : ₹ 1,90,000</span>
                        <span><a href="#"><i class="fa fa-eye"></i> View Syllabus </a></span>
                          <span><i class="fa fa-clock-o"></i> Drration : 20 Months</span>
                      </div>
                  </li>
      
                  <li>
                      <div class="cours-detal">
                        <img src="../../assets/images/course4.jpg" alt="">
                        <div class="drec-box">
                          <h4>Broadcast Prime</h4>
                          <p>Broadcast Prime is a comprehensive course that trains you in all as.. &nbsp; <a href="/coursedetails">Read more</a></p>
                        </div>
                      </div>
                      <div class="detal-box">
                          <span><i class="fa fa-tags"></i> Fees : ₹ 1,30,000</span>
                        <span><a href="#"><i class="fa fa-eye"></i> View Syllabus </a></span>
                          <span><i class="fa fa-clock-o"></i> Drration : 16 Months</span>
                      </div>
                 </li>
      
                 <li>
                    <div class="cours-detal">
                      <img src="../../assets/images/course5.jpg" alt="">
                      <div class="drec-box">
                        <h4>VFX Film Making</h4>
                        <p>Hollywood & Bollywood films use VFX to produce awesome effects & realis.. &nbsp; <a href="/coursedetails">Read more</a></p>
                      </div>
                    </div>
                    <div class="detal-box">
                        <span><i class="fa fa-tags"></i> Fees : ₹ 2,60,000</span>
                      <span><a href="#"><i class="fa fa-eye"></i> View Syllabus </a></span>
                        <span><i class="fa fa-clock-o"></i> Drration : 25 Months</span>
                    </div>
                  </li>
              </ul>
          </ion-row>
      </div>
  </ion-content>