.routin-del{
    padding: 13px;
    padding-top: 0;
    font-size: 20px;
    color: #c35e63;
}
.atnd-refresh-link{
    float: right;
    font-size: 13px;
    font-weight: bold;
}
body {
    margin: 30px;
    font-family: sans-serif;
}
#fontSizeWrapper { font-size: 16px; }
#fontSize {
    width: 100px;
    font-size: 1em;
}