<ion-header>
  <div class="head">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../assets/images/manu.png" alt="" class="manu-icon">
      </ion-menu-button>
    </ion-buttons>

    <ion-title class="text-center">Appilication Form</ion-title>

    <app-notification *ngIf="user_type == 'admin'"></app-notification>
    <div *ngIf="user_type == 'student'" class="notification"></div>
  </div>
</ion-header>

<ion-content>
    <div class="row">
    <!-- MultiStep Form -->
        <div class="container-fluid" id="grad1">
            <div class="row justify-content-center mt-0">
                <div class="col-11 text-center p-0">
                    <div class="col-md-12 mx-0">
                        <div id="msform">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="personal"><strong>Personal</strong></li>
                                <li class="active" id="education"><strong>Education</strong></li>
                                <li class="active" id="activity"><strong>Activities</strong></li>
                                <li id="office" *ngIf="user_type == 'admin' && student_type == 1"><strong>Office</strong></li>
                                <li id="confirm" *ngIf="student_type == 1"><strong>Finish</strong></li>
                            </ul> 

                            <!-- fieldset - Activities -->
                            <fieldset>
                                <div class="form-card">
                                    <h5 class="fs-title">Others Activities</h5>
                                    <ion-item class="frm">
                                        <ion-textarea rows="2" placeholder="Games (Optional)" [(ngModel)]="games"></ion-textarea>
                                    </ion-item>
                                    <ion-item class="frm">
                                        <ion-textarea rows="2" placeholder="Social Activities (Optional)" [(ngModel)]="social_activity"></ion-textarea>
                                    </ion-item>
                                    <ion-item>
                                        <ion-textarea rows="2" placeholder="Hobbies (Optional)" [(ngModel)]="hobbies"></ion-textarea>
                                    </ion-item>
                                
                                    <p class="lang-lab">
                                        <ion-label>Languages Known</ion-label>
                                    </p>
                                    <div class="d-flex">
                                        <p class="chq-inpt lng-box">
                                            <ion-checkbox *ngIf="check_eng" color="primary" checked="true" (ionChange)="chooselanguage($event, 'eng')"></ion-checkbox>
                                            <ion-checkbox *ngIf="!check_eng" color="primary" (ionChange)="chooselanguage($event, 'eng')"></ion-checkbox> &nbsp;
                                            <ion-label class="chq-lebl">English</ion-label><br><br>

                                            <ion-checkbox *ngIf="check_hin" color="primary" checked="true" (ionChange)="chooselanguage($event, 'hin')"></ion-checkbox>
                                            <ion-checkbox *ngIf="!check_hin" color="primary" (ionChange)="chooselanguage($event, 'hin')"></ion-checkbox> &nbsp;
                                            <ion-label class="chq-lebl">Hindi</ion-label>
                                        </p>
                                        <p class="chq-inpt lng-box">
                                            <ion-checkbox *ngIf="check_beng" color="primary" checked="true" (ionChange)="chooselanguage($event, 'beng')"></ion-checkbox>
                                            <ion-checkbox *ngIf="!check_beng" color="primary" (ionChange)="chooselanguage($event, 'beng')"></ion-checkbox> &nbsp;
                                            <ion-label class="chq-lebl">Bengali</ion-label><br><br>

                                            <ion-checkbox *ngIf="check_oth" color="primary" checked="true" (ionChange)="chooselanguage($event, 'oth')"></ion-checkbox>
                                            <ion-checkbox *ngIf="!check_oth" color="primary" (ionChange)="chooselanguage($event, 'oth')"></ion-checkbox> &nbsp;
                                            <ion-label class="chq-lebl">Others</ion-label>
                                        </p>
                                    </div>
                                    <div class="sign-box">
                                        <button *ngIf="!id" type="button"size="large" expand="block" class="btn save-btn" (click)="onSubmit()">Save</button>
                                        <button *ngIf="id" type="button"size="large" expand="block" class="btn save-btn" (click)="onUpdate()">Update</button>
                                    </div>
                                </div>

                               
                            </fieldset>
                            <div class="btn-col">
                                <input type="button" name="previous" class="previous action-button prv-btns" value="Previous" (click)="movePrevious()" />

                                <input type="button" *ngIf="show_next_button && student_type == 1" class="next action-button nxt-btns" value="Next Step" (click)="moveNext()" />
                                <input type="button" *ngIf="!show_next_button && student_type == 1" class="next action-button-previous nxt-btns" value="Next Step" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>