<ion-header>
  <div class="head">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../assets/images/manu.png" alt="" class="manu-icon">
      </ion-menu-button>
    </ion-buttons>

    <ion-title class="text-center">Appilication Form</ion-title>

    <app-notification *ngIf="user_type == 'admin'"></app-notification>
    <div *ngIf="user_type == 'student'" class="notification"></div>
  </div>
</ion-header>

<ion-content>
    <div class="row">
    <!-- MultiStep Form -->
        <div class="container-fluid" id="grad1">
            <div class="row justify-content-center mt-0">
                <div class="col-11 text-center p-0">
                    <div class="col-md-12 mx-0">
                        <form id="msform">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="personal"><strong>Personal</strong></li>
                                <li class="active" id="education"><strong>Education</strong></li>
                                <li class="active" id="activity"><strong>Activities</strong></li>
                                <li *ngIf="user_type == 'admin'" id="office"><strong>Office</strong></li>
                                <li id="confirm"><strong>Finish</strong></li>
                            </ul> 

                            <!-- fieldset - Activities -->
                            <fieldset>
                                <div class="form-card">
                                    <h5 class="fs-title">Others Activities</h5>
                                    <ion-item class="frm">
                                        <ion-input type="text" class="info-frm" id="email" placeholder="Games"></ion-input>
                                    </ion-item>
                                    <ion-item class="frm">
                                        <ion-input type="text" class="info-frm" id="email" placeholder="Social Activities"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-textarea rows="3" placeholder="Hobby"></ion-textarea>
                                    </ion-item>
                                
                                    <p class="lang-lab"><ion-label>Languages Known</ion-label></p>
                                    <div class="d-flex">
                                            <p class="chq-inpt lng-box">
                                                <ion-checkbox color="primary"></ion-checkbox> &nbsp;
                                                <ion-label class="chq-lebl">English</ion-label><br><br>

                                                <ion-checkbox color="primary"></ion-checkbox> &nbsp;
                                                <ion-label class="chq-lebl">Hindi</ion-label>
                                            </p>
                                            <p class="chq-inpt lng-box">
                                                <ion-checkbox color="primary"></ion-checkbox> &nbsp;
                                                <ion-label class="chq-lebl">Bengali</ion-label><br><br>

                                                <ion-checkbox color="primary"></ion-checkbox> &nbsp;
                                                <ion-label class="chq-lebl">Others</ion-label>
                                            </p>
                                    </div>
                                    <div class="sign-box">
                                        <button type="button"size="large" expand="block" class="btn save-btn">Save</button>
                                    </div>
                                </div>

                                <input type="button" name="previous" class="previous action-button-previous prv-btns" value="Previous" (click)="movePrevious()" />

                                <input type="button" name="make_payment" class="next action-button nxt-btns" value="Next Step" (click)="moveNext()" />
                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>