<ion-header>
  <div class="head">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../assets/images/manu.png" alt="" class="manu-icon">
      </ion-menu-button>
    </ion-buttons>

    <ion-title class="text-center">Course Details</ion-title>

    <app-notification></app-notification>
    <!-- <div class="notification">
      <a><img src="../assets/images/notification-icon.png" alt="">
      <span>2</span>
      </a>
    </div> -->
  </div>
</ion-header>

<ion-content>
  <div padding class="ex-pad" >
    <ion-row justify-content-center class="product-sec">
      <ul class="place-box">
        <li>
          <div class="drec-box">
            <h4>{{course_details.name}}</h4>
            <div class="detal-box">
              <span><i class="fa fa-tags"></i> Fees : ₹ {{course_details.fees}}</span>
              <span><a (click)="viewSyllabus(site_url+'/course_syllabus/'+course_details.file_name, course_details.name)"><i class="fa fa-eye"></i> View Syllabus</a></span>
              <span><i class="fa fa-clock-o"></i> Duration : {{course_details.duration}} Month</span>
            </div>
            <div innerHTML={{course_details.description}}></div>
          </div>
        </li>
      </ul>

      <div *ngIf="course_details == null" class="card card-nav-tabs card-plain"><span>{{message}}</span></div>
    </ion-row>
  </div>
</ion-content>