<ion-header>
  <div class="head">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../assets/images/manu.png" alt="" class="manu-icon">
      </ion-menu-button>
    </ion-buttons>

    <ion-title class="text-center">Routine Details</ion-title>

    <app-notification></app-notification>
  </div>
</ion-header>

<ion-content *ngIf="!showloader">
  
  <div class="w-100 calender-box" *ngIf="view_calender">
    <div class="schedule-col">
      <!-- <h3>Select Date</h3> -->
    </div>

    <ngb-datepicker class="w-100 calender" #dp [(ngModel)]="model" (navigate)="date = $event.next" [displayMonths]="displayMonths" [navigation]="arrows" (ngModelChange)="selectDate(model)"></ngb-datepicker>
  </div>

  <h3 class="routin-del">
    Routine Details 
    <span *ngIf="!view_calender" (click)="show_calender('y')">View Calender</span>
    <span *ngIf="view_calender" (click)="show_calender('n')">Hide Calender</span>
  </h3>
  <ul class="tree">
    
    <li *ngFor="let routine of routine_description">
      <label class="tree_label" for="c1">{{routine?.date | date: "MMM dd, yyyy"}} | {{routine?.week_day}}</label>
      <ul>

        <li *ngFor="let time of routine?.time_details">
          <label for="c2" class="tree_label">{{time?.start_time}} - {{time?.end_time}}</label>
          <p>
            Batch: {{time?.batch_name}} <br>
            Course: NA
          </p>
        </li>
        
      </ul>
    </li>

    <span class="end-tree"></span>
  </ul>
</ion-content>