<ion-header>
  <div class="head">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../assets/images/manu.png" alt="" class="manu-icon">
      </ion-menu-button>
    </ion-buttons>

    <ion-title class="text-center">Attendance Details</ion-title>

    <app-notification></app-notification>
  </div>
</ion-header>

<ion-content *ngIf="!showloader">
  <div class="container-fluid routine-col" id="grad1">
    <div class="dropdown frm select-dropdown">
      <ion-select (ionChange)="moveRoutineAssign()" [(ngModel)]="batch_id" placeholder="Select Batch">
        <ion-select-option *ngFor="let batch of batch_list" [value]="batch.id">{{batch.name}}</ion-select-option>
      </ion-select>
    </div>

  </div>
</ion-content>