<ion-header>
    <div class="head">
      <ion-buttons slot="start">
        <ion-menu-button>
          <img src="../assets/images/manu.png" alt="" class="manu-icon">
        </ion-menu-button>
      </ion-buttons>
  
      <ion-title class="text-center">Appilication Form</ion-title>
  
      <app-notification *ngIf="user_type == 'admin'"></app-notification>
      <div *ngIf="user_type == 'student'" class="notification"></div>
    </div>
</ion-header>

<ion-content>
    <div class="row">
    <!-- MultiStep Form -->
        <div class="container-fluid" id="grad1">
            <div class="row justify-content-center mt-0">
                <div class="col-11 text-center p-0">
                    <div class="col-md-12 mx-0">
                        <div id="msform">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="personal"><strong>Personal</strong></li>
                                <li class="active" id="education"><strong>Education</strong></li>
                                <li id="activity"><strong>Activities</strong></li>
                                <li *ngIf="user_type == 'admin'" id="office"><strong>Office</strong></li>
                                <li id="confirm"><strong>Finish</strong></li>
                            </ul> 

                            <!-- fieldset - Education -->
                            <fieldset>
                                <div class="form-card">
                                    <h5 class="fs-title">Education Information</h5>

                                    <div id="accordion" class="accordion">
                                        <div class="card mb-0">
                                            <!-- SSC - start -->
                                            <div class="card-header collapsed active" data-toggle="collapse" href="#collapseOne">
                                                <a class="card-title">SSC</a>
                                            </div>
                                            <div id="collapseOne" class="collapse show" data-parent="#accordion" >
                                                <div class="period-inpt">
                                                    <div class="from-date">
                                                    <ion-item class="">
                                                        <ion-datetime id="from_ssc" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="From" [(ngModel)]="from_ssc"></ion-datetime>
                                                    </ion-item> 
                                                </div>
                                                <div class="to-date">
                                                    <ion-item class="">
                                                        <ion-datetime id="to_ssc" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="To" [(ngModel)]="to_ssc"></ion-datetime>
                                                    </ion-item>
                                                </div> 
                                                </div>

                                                <ion-item class="frm">
                                                        
                                                    <ion-input type="text" class="info-frm" id="institue_ssc" [(ngModel)]="institue_ssc" placeholder="School/College/Institute"></ion-input>
                                                </ion-item>

                                                <ion-item class="frm">
                                                    <ion-input type="text" class="info-frm" id="board_ssc" placeholder="Board/University" [(ngModel)]="board_ssc"></ion-input>
                                                </ion-item>

                                                <ion-item class="dropdown frm">
                                                    <ion-label class="drop-mnu">Year Of Passing</ion-label>
                                                    <ion-select id="pass_year_ssc" placeholder="Select One" [(ngModel)]="pass_year_ssc">
                                                        <ion-select-option *ngFor="let year of year_list" value="{{year}}">{{year}}</ion-select-option>
                                                    </ion-select>
                                                </ion-item>

                                                <ion-item class="frm">
                                                    <ion-input type="text" class="info-frm" id="marks_ssc" placeholder="Division / %Marks of CGPa" [(ngModel)]="marks_ssc"></ion-input>
                                                </ion-item>

                                                <ion-item class="frm">
                                                    <ion-input type="number" class="info-frm" id="rank_ssc" placeholder="Rank in the Class" [(ngModel)]="rank_ssc" min="1"></ion-input>
                                                </ion-item>

                                                <ion-item class="frm">
                                                    <ion-input type="text" class="info-frm" id="subject_ssc" placeholder="Special/Major Subject" [(ngModel)]="subject_ssc"></ion-input>
                                                </ion-item>

                                                <div class="sign-box">
                                                    <button *ngIf="id_ssc == null" type="button" size="large" expand="block" class="btn save-btn" (click)="onSubmit_ssc()">Save</button>

                                                    <button *ngIf="id_ssc != null" type="button" size="large" expand="block" class="btn save-btn" (click)="onUpdate_ssc()">Update</button>
                                                </div> 
                                            </div>
                                            <!-- SSC - end -->

                                            <!-- HSC - start -->
                                            <div *ngIf="show_hsc" class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                <a class="card-title">
                                                    HSC
                                                </a>
                                            </div>
                                            <div *ngIf="!show_hsc" class="card-header collapsed disable" (click)="tooltipMsg('Fill up SSC')">
                                                <a class="card-title">
                                                    HSC
                                                </a>
                                            </div>
                                            <div id="collapseTwo" class=" collapse" data-parent="#accordion" >
                                                <div class="period-inpt">
                                                    <ion-item class="">
                                                        <ion-datetime id="from_hsc" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="From" [(ngModel)]="from_hsc"></ion-datetime>
                                                    </ion-item> &nbsp; &nbsp;

                                                    <ion-item class="">
                                                        <ion-datetime id="to_hsc" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="To" [(ngModel)]="to_hsc"></ion-datetime>
                                                    </ion-item>
                                                </div>

                                                <ion-item class="frm">
                                                    <ion-input type="text" class="info-frm" id="institue_hsc" [(ngModel)]="institue_hsc" placeholder="School/College/Institute"></ion-input>
                                                </ion-item>

                                                <ion-item class="frm">
                                                    <ion-input type="text" class="info-frm" id="board_hsc" placeholder="Board/University" [(ngModel)]="board_hsc"></ion-input>
                                                </ion-item>

                                                <ion-item class="dropdown frm">
                                                    <ion-label class="drop-mnu">Year Of Passing</ion-label>
                                                    <ion-select id="pass_year_hsc" placeholder="Select One" [(ngModel)]="pass_year_hsc">
                                                        <ion-select-option *ngFor="let year of year_list" value="{{year}}">{{year}}</ion-select-option>
                                                    </ion-select>
                                                </ion-item>

                                                <ion-item class="frm">
                                                    <ion-input type="text" class="info-frm" id="marks_hsc" placeholder="Division / %Marks of CGPa" [(ngModel)]="marks_hsc"></ion-input>
                                                </ion-item>

                                                <ion-item class="frm">
                                                    <ion-input type="number" class="info-frm" id="rank_hsc" placeholder="Rank in the Class" [(ngModel)]="rank_hsc" min="1"></ion-input>
                                                </ion-item>

                                                <ion-item class="frm">
                                                    <ion-input type="text" class="info-frm" id="subject_hsc" placeholder="Special/Major Subject" [(ngModel)]="subject_hsc"></ion-input>
                                                </ion-item>

                                                <div class="sign-box">
                                                    <button *ngIf="id_hsc == null" type="button" size="large" expand="block" class="btn save-btn" (click)="onSubmit_hsc()">Save</button>

                                                    <button *ngIf="id_hsc != null" type="button" size="large" expand="block" class="btn save-btn" (click)="onUpdate_hsc()">Update</button>
                                                </div>
                                            </div>
                                            <!-- HSC - end -->

                                            <!-- Graduation - start -->
                                            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" *ngIf="show_gradutn">
                                                <a class="card-title">
                                                Graduation
                                                </a>
                                            </div>
                                            <div *ngIf="!show_gradutn" class="card-header collapsed disable" (click)="tooltipMsg('Fill up HSC')">
                                                <a class="card-title">
                                                    Graduation
                                                </a>
                                            </div>
                                            <div id="collapseThree" class="collapse inner-acc" data-parent="#accordion" >
                                                <!-- Radio Buttons - start -->
                                                <ion-item class="form-group frm">
                                                    <!-- Radio - BA -->
                                                    <div class="custom-control custom-radio custom-control-inline dgree">
                                                        <input type="radio" *ngIf="grad_type == 'ba'" class="custom-control-input" id="defaultInline5" name="offline" checked (click)="changeGraduation('ba')" />
                                                        <input type="radio" *ngIf="grad_type != 'ba'" class="custom-control-input" id="defaultInline5" name="offline" (click)="changeGraduation('ba')" />
                                                        <label class="custom-control-label dgree-lab" for="defaultInline5">B.A.</label>
                                                    </div>
                                                        
                                                    <!-- Radio - BSc -->
                                                    <div class="custom-control custom-radio custom-control-inline dgree">
                                                        <input type="radio" *ngIf="grad_type == 'bsc'" class="custom-control-input" id="defaultInline6" name="offline" checked (click)="changeGraduation('bsc')" />
                                                        <input type="radio" *ngIf="grad_type != 'bsc'" class="custom-control-input" id="defaultInline6" name="offline" (click)="changeGraduation('bsc')" />
                                                        <label class="custom-control-label dgree-lab" for="defaultInline6">B.Sc.</label>
                                                    </div>

                                                    <!-- Radio - BCom -->
                                                    <div class="custom-control custom-radio custom-control-inline dgree">
                                                        <input type="radio" *ngIf="grad_type == 'bcom'" class="custom-control-input" id="defaultInline7" name="offline" checked (click)="changeGraduation('bcom')" />
                                                        <input type="radio" *ngIf="grad_type != 'bcom'" class="custom-control-input" id="defaultInline7" name="offline" (click)="changeGraduation('bcom')" />
                                                        <label class="custom-control-label dgree-lab" for="defaultInline7">B.Com</label>
                                                    </div>

                                                    <!-- Radio - BE -->
                                                    <div class="custom-control custom-radio custom-control-inline dgree">
                                                        <input type="radio" *ngIf="grad_type == 'others'" class="custom-control-input" id="defaultInline8" name="offline" checked (click)="changeGraduation('others')" />
                                                        <input type="radio" *ngIf="grad_type != 'others'" class="custom-control-input" id="defaultInline8" name="offline" (click)="changeGraduation('others')" />
                                                        <label class="custom-control-label dgree-lab" for="defaultInline8">Others</label>
                                                    </div>
                                                </ion-item>
                                                <!-- Radio Buttons - end -->

                                                <!-- graduation year - start -->
                                                <div id="accordion2" class="accordion marks-box">
                                                    <!-- 1st year - start -->
                                                    <div class="card-header collapsed active" data-toggle="collapse" data-parent="#accordion2" href="#collapseThreeOne">
                                                        <a class="card-title">
                                                        1st Year
                                                        </a>
                                                    </div>
                                                    <div id="collapseThreeOne" class="collapse show" data-parent="#accordion2" >
                                                        <div class="period-inpt">
                                                            <ion-item class="">
                                                                <ion-datetime id="from_grad1st" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="From" [(ngModel)]="from_grad1st"></ion-datetime>
                                                            </ion-item> &nbsp; &nbsp;
        
                                                            <ion-item class="">
                                                                <ion-datetime id="to_grad1st" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="To" [(ngModel)]="to_grad1st"></ion-datetime>
                                                            </ion-item>
                                                        </div>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="institue_grad1st" [(ngModel)]="institue_grad1st" placeholder="School/College/Institute"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="board_grad1st" placeholder="Board/University" [(ngModel)]="board_grad1st"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="dropdown frm">
                                                            <ion-label class="drop-mnu">Year Of Passing</ion-label>
                                                            <ion-select id="pass_year_grad1st" placeholder="Select One" [(ngModel)]="pass_year_grad1st">
                                                                <ion-select-option *ngFor="let year of year_list" value="{{year}}">{{year}}</ion-select-option>
                                                            </ion-select>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="marks_grad1st" placeholder="Division / %Marks of CGPa" [(ngModel)]="marks_grad1st"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="number" class="info-frm" id="rank_grad1st" placeholder="Rank in the Class" [(ngModel)]="rank_grad1st" min="1"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="subject_grad1st" placeholder="Special/Major Subject" [(ngModel)]="subject_grad1st"></ion-input>
                                                        </ion-item>
        
                                                        <div class="sign-box">
                                                            <button *ngIf="id_grad1st == null" type="button" size="large" expand="block" class="btn save-btn" (click)="onSubmit_grad1st()">Save</button>
        
                                                            <button *ngIf="id_grad1st != null" type="button" size="large" expand="block" class="btn save-btn" (click)="onUpdate_grad1st()">Update</button>
                                                        </div>
                                                    </div>
                                                    <!-- 1st year - end -->

                                                    <!-- 2nd year - start -->
                                                    <div *ngIf="show_grad2ndyr" class="card-header collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThreeTwo">
                                                        <a class="card-title">
                                                        2nd Year
                                                        </a>
                                                    </div>
                                                    <div *ngIf="!show_grad2ndyr" class="card-header collapsed disable" (click)="tooltipMsg('Fill up 1st Year')">
                                                        <a class="card-title">
                                                            2nd Year
                                                        </a>
                                                    </div>
                                                    <div id="collapseThreeTwo" class=" collapse" data-parent="#accordion2" >
                                                        <div class="period-inpt">
                                                            <ion-item class="">
                                                                <ion-datetime id="from_grad2" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="From" [(ngModel)]="from_grad2"></ion-datetime>
                                                            </ion-item> &nbsp; &nbsp;
        
                                                            <ion-item class="">
                                                                <ion-datetime id="to_grad2" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="To" [(ngModel)]="to_grad2"></ion-datetime>
                                                            </ion-item>
                                                        </div>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="institue_grad2" [(ngModel)]="institue_grad2" placeholder="School/College/Institute"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="board_grad2" placeholder="Board/University" [(ngModel)]="board_grad2"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="dropdown frm">
                                                            <ion-label class="drop-mnu">Year Of Passing</ion-label>
                                                            <ion-select id="pass_year_grad2" placeholder="Select One" [(ngModel)]="pass_year_grad2">
                                                                <ion-select-option *ngFor="let year of year_list" value="{{year}}">{{year}}</ion-select-option>
                                                            </ion-select>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="marks_grad2" placeholder="Division / %Marks of CGPa" [(ngModel)]="marks_grad2"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="number" class="info-frm" id="rank_grad2" placeholder="Rank in the Class" [(ngModel)]="rank_grad2" min="1"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="subject_grad2" placeholder="Special/Major Subject" [(ngModel)]="subject_grad2"></ion-input>
                                                        </ion-item>
        
                                                        <div class="sign-box">
                                                            <button *ngIf="id_grad2 == null" type="button" size="large" expand="block" class="btn save-btn" (click)="onSubmit_grad2()">Save</button>
        
                                                            <button *ngIf="id_grad2 != null" type="button" size="large" expand="block" class="btn save-btn" (click)="onUpdate_grad2()">Update</button>
                                                        </div>
                                                    </div>
                                                    <!-- 2nd year - end -->

                                                    <!-- 3rd year - start -->
                                                    <div *ngIf="show_grad3rdyr" class="card-header collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThreeThree">
                                                        <a class="card-title">
                                                        3rd Year
                                                        </a>
                                                    </div>
                                                    <div *ngIf="!show_grad3rdyr" class="card-header collapsed disable" (click)="tooltipMsg('Fill up 2nd Year')">
                                                        <a class="card-title">
                                                            3rd Year
                                                        </a>
                                                    </div>
                                                    <div id="collapseThreeThree" class=" collapse" data-parent="#accordion2" >
                                                        <div class="period-inpt">
                                                            <ion-item class="">
                                                                <ion-datetime id="from_grad3" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="From" [(ngModel)]="from_grad3"></ion-datetime>
                                                            </ion-item> &nbsp; &nbsp;
        
                                                            <ion-item class="">
                                                                <ion-datetime id="to_grad3" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="To" [(ngModel)]="to_grad3"></ion-datetime>
                                                            </ion-item>
                                                        </div>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="institue_grad3" [(ngModel)]="institue_grad3" placeholder="School/College/Institute"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="board_grad3" placeholder="Board/University" [(ngModel)]="board_grad3"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="dropdown frm">
                                                            <ion-label class="drop-mnu">Year Of Passing</ion-label>
                                                            <ion-select id="pass_year_grad3" placeholder="Select One" [(ngModel)]="pass_year_grad3">
                                                                <ion-select-option *ngFor="let year of year_list" value="{{year}}">{{year}}</ion-select-option>
                                                            </ion-select>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="marks_grad3" placeholder="Division / %Marks of CGPa" [(ngModel)]="marks_grad3"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="number" class="info-frm" id="rank_grad3" placeholder="Rank in the Class" [(ngModel)]="rank_grad3" min="1"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="subject_grad3" placeholder="Special/Major Subject" [(ngModel)]="subject_grad3"></ion-input>
                                                        </ion-item>
        
                                                        <div class="sign-box">
                                                            <button *ngIf="id_grad3 == null" type="button" size="large" expand="block" class="btn save-btn" (click)="onSubmit_grad3()">Save</button>
        
                                                            <button *ngIf="id_grad3 != null" type="button" size="large" expand="block" class="btn save-btn" (click)="onUpdate_grad3()">Update</button>
                                                        </div>
                                                    </div>
                                                    <!-- 3rd year - end -->

                                                    <!-- 4th year - start -->
                                                    <div *ngIf="show_grad4thyr" class="card-header collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThreeFour">
                                                        <a class="card-title">
                                                        4th Year
                                                        </a>
                                                    </div>
                                                    <div *ngIf="!show_grad4thyr" class="card-header collapsed disable" (click)="tooltipMsg('Fill up 3rd Year')">
                                                        <a class="card-title">
                                                            4th Year
                                                        </a>
                                                    </div>
                                                    <div id="collapseThreeFour" class=" collapse" data-parent="#accordion2" >
                                                        <div class="period-inpt">
                                                            <ion-item class="">
                                                                <ion-datetime id="from_grad4" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="From" [(ngModel)]="from_grad4"></ion-datetime>
                                                            </ion-item> &nbsp; &nbsp;
        
                                                            <ion-item class="">
                                                                <ion-datetime id="to_grad4" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="To" [(ngModel)]="to_grad4"></ion-datetime>
                                                            </ion-item>
                                                        </div>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="institue_grad4" [(ngModel)]="institue_grad4" placeholder="School/College/Institute"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="board_grad4" placeholder="Board/University" [(ngModel)]="board_grad4"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="dropdown frm">
                                                            <ion-label class="drop-mnu">Year Of Passing</ion-label>
                                                            <ion-select id="pass_year_grad4" placeholder="Select One" [(ngModel)]="pass_year_grad4">
                                                                <ion-select-option *ngFor="let year of year_list" value="{{year}}">{{year}}</ion-select-option>
                                                            </ion-select>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="marks_grad4" placeholder="Division / %Marks of CGPa" [(ngModel)]="marks_grad4"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="number" class="info-frm" id="rank_grad4" placeholder="Rank in the Class" [(ngModel)]="rank_grad4" min="1"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="subject_grad4" placeholder="Special/Major Subject" [(ngModel)]="subject_grad4"></ion-input>
                                                        </ion-item>
        
                                                        <div class="sign-box">
                                                            <button *ngIf="id_grad4 == null" type="button" size="large" expand="block" class="btn save-btn" (click)="onSubmit_grad4()">Save</button>
        
                                                            <button *ngIf="id_grad4 != null" type="button" size="large" expand="block" class="btn save-btn" (click)="onUpdate_grad4()">Update</button>
                                                        </div>
                                                    </div>
                                                    <!-- 4th year - end -->
                                                </div>
                                                <!-- graduation year - end -->
                                            </div>
                                            <!-- Graduation - end -->

                                            <!-- Post Graduation - start -->
                                            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" *ngIf="show_pg">
                                                    <a class="card-title">
                                                    Post Graduation
                                                    </a>
                                            </div>
                                            <div *ngIf="!show_pg" class="card-header collapsed disable" (click)="tooltipMsg('Fill up Graduation upto 3rd Year')">
                                                <a class="card-title">
                                                    Post Graduation
                                                </a>
                                            </div>
                                            <div id="collapseFour" class="collapse inner-acc" data-parent="#accordion" >
                                                <div id="accordion3" class="accordion marks-box">
                                                    <!-- 1st year - start -->
                                                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseFourOne">
                                                        <a class="card-title">
                                                        1st Year
                                                        </a>
                                                    </div>
                                                    <div id="collapseFourOne" class="collapse show" data-parent="#accordion3" >
                                                        <div class="period-inpt">
                                                            <ion-item class="">
                                                                <ion-datetime id="from_pg1" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="From" [(ngModel)]="from_pg1"></ion-datetime>
                                                            </ion-item> &nbsp; &nbsp;
        
                                                            <ion-item class="">
                                                                <ion-datetime id="to_pg1" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="To" [(ngModel)]="to_pg1"></ion-datetime>
                                                            </ion-item>
                                                        </div>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="institue_pg1" [(ngModel)]="institue_pg1" placeholder="School/College/Institute"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="board_pg1" placeholder="Board/University" [(ngModel)]="board_pg1"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="dropdown frm">
                                                            <ion-label class="drop-mnu">Year Of Passing</ion-label>
                                                            <ion-select id="pass_year_pg1" placeholder="Select One" [(ngModel)]="pass_year_pg1">
                                                                <ion-select-option *ngFor="let year of year_list" value="{{year}}">{{year}}</ion-select-option>
                                                            </ion-select>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="marks_pg1" placeholder="Division / %Marks of CGPa" [(ngModel)]="marks_pg1"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="number" class="info-frm" id="rank_pg1" placeholder="Rank in the Class" [(ngModel)]="rank_pg1" min="1"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="subject_pg1" placeholder="Special/Major Subject" [(ngModel)]="subject_pg1"></ion-input>
                                                        </ion-item>
        
                                                        <div class="sign-box">
                                                            <button *ngIf="id_pg1 == null" type="button" size="large" expand="block" class="btn save-btn" (click)="onSubmit_pg1()">Save</button>
        
                                                            <button *ngIf="id_pg1 != null" type="button" size="large" expand="block" class="btn save-btn" (click)="onUpdate_pg1()">Update</button>
                                                        </div>
                                                    </div>
                                                    <!-- 1st year - end -->

                                                    <!-- 2nd year - start -->
                                                    <div *ngIf="show_pg2yr" class="card-header collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseFourTwo">
                                                        <a class="card-title">
                                                        2nd Year
                                                        </a>
                                                    </div>
                                                    <div *ngIf="!show_pg2yr" class="card-header collapsed disable" (click)="tooltipMsg('Fill up 1st Year')">
                                                        <a class="card-title">
                                                            2nd Year
                                                        </a>
                                                    </div>
                                                    <div id="collapseFourTwo" class=" collapse" data-parent="#accordion3" >
                                                        <div class="period-inpt">
                                                            <ion-item class="">
                                                                <ion-datetime id="from_pg2" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="From" [(ngModel)]="from_pg2"></ion-datetime>
                                                            </ion-item> &nbsp; &nbsp;
        
                                                            <ion-item class="">
                                                                <ion-datetime id="to_pg2" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="To" [(ngModel)]="to_pg2"></ion-datetime>
                                                            </ion-item>
                                                        </div>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="institue_pg2" [(ngModel)]="institue_pg2" placeholder="School/College/Institute"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="board_pg2" placeholder="Board/University" [(ngModel)]="board_pg2"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="dropdown frm">
                                                            <ion-label class="drop-mnu">Year Of Passing</ion-label>
                                                            <ion-select id="pass_year_pg2" placeholder="Select One" [(ngModel)]="pass_year_pg2">
                                                                <ion-select-option *ngFor="let year of year_list" value="{{year}}">{{year}}</ion-select-option>
                                                            </ion-select>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="marks_pg2" placeholder="Division / %Marks of CGPa" [(ngModel)]="marks_pg2"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="number" class="info-frm" id="rank_pg2" placeholder="Rank in the Class" [(ngModel)]="rank_pg2" min="1"></ion-input>
                                                        </ion-item>
        
                                                        <ion-item class="frm">
                                                            <ion-input type="text" class="info-frm" id="subject_pg2" placeholder="Special/Major Subject" [(ngModel)]="subject_pg2"></ion-input>
                                                        </ion-item>
        
                                                        <div class="sign-box">
                                                            <button *ngIf="id_pg2 == null" type="button" size="large" expand="block" class="btn save-btn" (click)="onSubmit_pg2()">Save</button>
        
                                                            <button *ngIf="id_pg2 != null" type="button" size="large" expand="block" class="btn save-btn" (click)="onUpdate_pg2()">Update</button>
                                                        </div>
                                                    </div>
                                                    <!-- 2nd year - end -->
                                                </div>
                                            </div>
                                            <!-- Post Graduation - end -->

                                            <!-- Others - start -->
                                            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                                <a class="card-title">
                                                    Any Other Qualification
                                                </a>
                                            </div>
                                            <div id="collapseFive" class=" collapse" data-parent="#accordion" >
                                                <div class="period-inpt">
                                                        <div class="from-date">
                                                    <ion-item class="">
                                                        <ion-datetime id="from_ext" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="From" [(ngModel)]="from_ext"></ion-datetime>
                                                    </ion-item> </div>
                                                    <div class="to-date">
                                                    <ion-item class="">
                                                        <ion-datetime id="to_ext" class="info-frm drop-mnu" displayFormat="MMM DD, YYYY" placeholder="To" [(ngModel)]="to_ext"></ion-datetime>
                                                    </ion-item>
                                                </div>
                                                </div>

                                                <ion-item class="frm">
                                                    <ion-input type="text" class="info-frm" id="institue_ext" [(ngModel)]="institue_ext" placeholder="School/College/Institute"></ion-input>
                                                </ion-item>

                                                <ion-item class="frm">
                                                    <ion-input type="text" class="info-frm" id="board_ext" placeholder="Board/University" [(ngModel)]="board_ext"></ion-input>
                                                </ion-item>

                                                <ion-item class="dropdown frm">
                                                    <ion-label class="drop-mnu">Year Of Passing</ion-label>
                                                    <ion-select id="pass_year_ext" placeholder="Select One" [(ngModel)]="pass_year_ext">
                                                        <ion-select-option *ngFor="let year of year_list" value="{{year}}">{{year}}</ion-select-option>
                                                    </ion-select>
                                                </ion-item>

                                                <ion-item class="frm">
                                                    <ion-input type="text" class="info-frm" id="marks_ext" placeholder="Division / %Marks of CGPa" [(ngModel)]="marks_ext"></ion-input>
                                                </ion-item>

                                                <ion-item class="frm">
                                                    <ion-input type="number" class="info-frm" id="rank_ext" placeholder="Rank in the Class" [(ngModel)]="rank_ext" min="1"></ion-input>
                                                </ion-item>

                                                <ion-item class="frm">
                                                    <ion-input type="text" class="info-frm" id="subject_ext" placeholder="Special/Major Subject" [(ngModel)]="subject_ext"></ion-input>
                                                </ion-item>

                                                <div class="sign-box">
                                                    <button *ngIf="id_ext == null" type="button" size="large" expand="block" class="btn save-btn" (click)="onSubmit_ext()">Save</button>

                                                    <button *ngIf="id_ext != null" type="button" size="large" expand="block" class="btn save-btn" (click)="onUpdate_ext()">Update</button>
                                                </div>
                                            </div>
                                            <!-- Others - end -->
                                        </div>
                                    </div>
                                </div> 
                               
                            </fieldset>
                            <div class="btn-col">
                                    <input type="button" name="previous" class="previous action-button prv-btns" value="Previous" (click)="movePrevious()" /> 
    
                                    <input type="button" name="next" class="next action-button nxt-btns" value="Next Step" (click)="moveNext()" />
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>