<ion-content>
  <ion-grid class="no-pad">
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" class="no-pad">
        <div class="back-bg">
          <!-- <img src="/assets/images/background.png" alt=""> -->
          <div class="sing-text">
            <h5>Register</h5>
            <img src="/assets/images/logo.png" alt="">
            <!-- <p>Welcome to Vishesh <br>Investment Consultants</p> -->
          </div>

          <div class="sing-frm">
              
            <!-- <ion-item class="form-group frm"> -->
            <div class="form-group">
            <span class="icon2"><i class="fa fa-user"></i></span>
            <ion-input type="text" class="info-frm" id="name" [(ngModel)]="name" placeholder="Your Name"></ion-input>
          </div>  
            <!-- </ion-item> -->

            <!-- <ion-item class="form-group frm"> -->
                <div class="form-group">
            <span class="icon2"><i class="fa fa-envelope"></i></span>
            <ion-input type="text" class="info-frm" id="email" [(ngModel)]="email" placeholder="Email ID (Optional)"></ion-input>
            </div>
            <!-- </ion-item> -->

            <!-- <ion-item class="form-group frm"> -->
                <div class="form-group">
            <span class="icon2"><i class="fa fa-phone "></i></span>
            <ion-input type="text" class="info-frm" id="phone" [(ngModel)]="phone" placeholder="Phone Number"></ion-input>
            </div>
            <!-- </ion-item> -->

            <!-- <ion-item class="form-group frm"> -->
                <div class="form-group">
            <span class="icon2"><i class="fa fa-lock"></i></span>
            <ion-input type="password" class="info-frm" id="password" [(ngModel)]="password" placeholder="Password" ></ion-input>
            </div>
            <!-- </ion-item> -->
            <div class="form-group">
            <span class="icon2"><i class="fa fa-book"></i></span>
            <div class="dropdown frm select-dropdown">
            <ion-select id="course_id" placeholder="Course of Interest" [(ngModel)]="course_id">
              <ion-select-option *ngFor="let course of course_list" [value]="course.id">{{course.name}}</ion-select-option>
            </ion-select>
          </div>
        </div> 
          </div>

          <div class="sign-box">
            <button type="button" (click)="onSubmit()" size="large" expand="block" class="btn sing-btn">Register</button>
            
            <p><a>Already have an account?</a></p>
            <p class="regi">
              <a routerLink="/login">Sign In 
                <img src="/assets/images/arrow.png" alt="">
                <hr>
              </a>
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
